/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #113c4e;
  color: antiquewhite;
  font-family:'Times New Roman', Times, serif
}

.top_building{
  width: 1400px;
  height: 195px;
  font-size: 18px;
  position: absolute;
  top: 19px;
  left: 40px;
}

.bottom_building{
  width: 1400px;
  height: 195px;
  font-size: 18px;
  position: absolute;
  top: 817px;
  left: 40px;
}

.big-block{
  width: 133px;
  height: 63px;
  font-size: 11px;
}

.small-block{
  width: 100px;
  height: 65px;
  font-size: 9px;
}

.smaller-block{
  width: 81px;
  height: 65px;
  font-size: 7px;
}